
<% if flash.has?(:message) %>
    <%= flash[:message] %>
<% end %> 


<h1>Right now <%= @user.count %> collectors are collecting cool sh*t across <%= @boards.count %> boards.<h1><br><br>
<h2>Join them!</h2>


<form action='/signup' method='POST'>
    <p>Username: <input type='text' name='username'></p>
    <p>Email: <input type='text' name='email'></p>
    <p>Password: <input type='password' name='password'></p>
    <input type='submit' value= "Let's go!" >
</form><br><br>

Or, <a href='/login'>login</a>.