<h1>Boards</h1>
<p>Welcome, <%=current_user.username %>

<% @boards.each do |board| %>
<ul>
<li><a href="/boards/#{board.id}">Name: <%= board.name %></a></li>
<li>Description: <%= board.description %></li><br>
</ul>
<% end %>
