<h1>Boards</h1>
<p>Welcome, <%=current_user.username %>. Check out your boards or make a new one!</p>

<% @boards.each do |board| %>
    <ul>
        <li><a href="/boards/<%= board.id %>">Name: <%= board.name %></a></li>
        <li>Description: <%= board.description %></li><br>
        </ul>
<% end %>

<button onclick="document.location='/boards/new'">Make a new board</button>
<br><br><a href='/logout'>Logout</a>