<style>

img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 40%;
}

 </style>

<% @memories.each do |memory|%>

<div class="image">
    <img src="/images/<%= memory.uploaded_memory %>" alt="user_memory">
</div>

<% end %>